{% extends 'base.html' %}
{% block title %}
Home Sweet Home
{% endblock title %}

{% block body %}
<div class="container-fluid container-md my-5 pt-5 pb-5" style="max-width:667px; background-color: rgba(0, 0, 0, 0.5);">
    <h1 class="text-white" style="text-align: center; margin-bottom: 12px;">Programming Progress Tracker</h1>
    <h1 class="text-white" style="text-align: center; margin-bottom: 100px;">Database Management System</h1>
    <h4 class="text-white" style="text-align: center; margin-bottom: 50px;">Created by</h4>
    <h3>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <td class="text-white" style="text-align: center;">Name</td>
                    <td class="text-white" style="text-align: center;">USN</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-white" style="text-align: center;">
						<a href="https://linktr.ee/riganb" target="_blank">Rigan Burnwal</a>
					</td>
                    <td class="text-white" style="text-align: center;">1JS20IS087</td>
                </tr>
            </tbody>
        </table>
    </h3>
</div>
{% endblock body %}

